html, *, body {
  font-family: "Montserrat", monospace;
}

@font-face {
  font-family: 'Monarcha';
  src: local('Monarcha'), url(./fonts/Monarcha.woff) format('woff');
}

a{
  color: inherit;
  text-decoration: none;
}

.mantine-Fieldset-legend{
  font-family: "Monarcha", cursive;
  font-weight: 500;
  font-size: 40px !important;
}

.mantine-Switch-track{
  cursor: pointer !important;
  transition: 200ms ease-in-out !important;
}

.mantine-Switch-thumb{
  transition: 200ms ease-in-out !important;
}

.ingredients{
  color: #181818;
  border-bottom: 1px solid rgba(24, 24, 24, 0.2);
}

.search-card{
  background-image: url(./assets/searchpanel.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.footer {
  background-color: #ffba09;
  border-top: 1px solid rgba(24, 24, 24, 0.15);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.links {
  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-md);
  }
}

@media screen and (max-width: 576px) {
  .mantine-Fieldset-legend{;
    font-size: 25px !important;
  }
}